#app, #root, html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
  font-family: times;
  width: 100%;
}
#title {
  height: 60px;
  text-align: right;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  background: #546c78;
  color: white;
  font-family: sans;
  display: flex;
  justify-content: space-between;
}
#left-column {
  float: left;
  width: 50%;
  background: whitesmoke;
  height: calc(100% - 60px);
  overflow: auto;
}
#left-column.no-text-column {
  width: 80%;
}
#left-column.no-discussion-column {
  width: 70%;
}
#left-column.no-text-column.no-discussion-column {
  width: 100%;
}
#text-column {
  float: left;
  width: 30%;
  height: calc(100% - 60px);
  overflow: auto;
  border-left: 1px solid black;
  box-sizing: border-box;
}
#discussion-column {
  float: left;
  width: 20%;
  background: #404040;
  height: calc(100% - 60px);
  overflow: auto;
  color: white;
  font-family: sans;
}
#discussion-column ul {
padding: 0;
list-style: none;
margin: 0;
}
#discussion-column .amdt-line {
  cursor: pointer;
  padding: 4px;
  border: 1px solid transparent;
}
#discussion-column .amdt-line.current {
  border: 1px solid white;
  box-sizing: border-box;
}
#discussion-column .amdt-line:hover {
  background: #4e4e4e;
}
#discussion-column .discussion-identique {
  border-left: 5px solid #4cff334a;
  padding: 0 10px;
}
#discussion-column .discussion-commune {
  border-left: 5px solid #b633ff4a;
  padding: 0 10px;
}
#title select {
    background: white;
    max-width: 90%;
    font-weight: bold;
}
#title button {
  background: white;
  margin: 0 10px;
}
.title-left {
  float: left;
  height: 100%;
  display: flex;
  margin-left: 20px;
}
.title-left > span {
  margin: auto;
}
.title-middle {
  margin: auto;
}
.title-right {
  float: right;
  display: flex;
  justify-content: space-between;
}
.title-right {
  margin-top: auto;
  margin-bottom: auto;
}
.amendement {
  margin: 20px;
  background: white;
  padding: 20px;
  width: 80%;
  min-width: 600px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.amendement .dispositif div {
  padding: 0 !important;
}
#left-column button {
  color: black;
  background: white;
  margin: 10px;
  padding: 5px;
}
#discussion-column select {
  color: black;
  background: white;
  margin: 10px;
  padding: 0 5px;
  max-width: 80%;
}
.amendement .lien-pdf {
  color: black;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.amendement .en-discussion {
  border: 1px solid black;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.amendement .sort {
  border: 1px solid black;
  padding: 10px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.amendement .header * {
  margin: 0;
}