#app, #root, html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
  font-family: times;
  width: 100%;
}
#left-column {
  float: left;
  width: 50%;
  background: #404040;
  height: 100%;
  overflow: auto;
}
#text-column {
  float: left;
  width: 30%;
  height: 100%;
  overflow: auto;
}
#discussion-column {
  float: left;
  width: 20%;
  background: #404040;
  height: 100%;
  overflow: auto;
  color: white;
}
#discussion-column ul {
padding: 0;
list-style: none;
margin: 0;
}
#discussion-column ul ul{
font-style: italic;
}
#discussion-column li {
  background: #5e5e5e;
  padding: 4px;
}
#discussion-column select {
    color: white;
    max-width: 100%;
}
.amendement {
  margin: 20px;
  background: white;
  padding: 20px;
  width: 700px;
  margin-left:auto;
  margin-right:auto;
}
.amendement .dispositif div {
  padding: 0 !important;
}