#app, #root, html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
  font-family: times;
  width: 100%;
}
#title {
  height: 60px;
  text-align: right;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  background: #546c78;
  color: white;
  font-family: sans;
  display: flex;
  justify-content: space-between;
}
#left-column {
  float: left;
  width: 50%;
  background: whitesmoke;
  height: calc(100% - 60px);
  overflow: auto;
}
#left-column.no-text-column {
  width: 80%;
}
#left-column.no-discussion-column {
  width: 70%;
}
#left-column.no-text-column.no-discussion-column {
  width: 100%;
}
#text-column {
  float: left;
  width: 30%;
  height: calc(100% - 60px);
  overflow: auto;
  border-left: 1px solid black;
  box-sizing: border-box;
}
#discussion-column {
  float: left;
  width: 20%;
  background: #404040;
  height: calc(100% - 60px);
  overflow: auto;
  color: white;
  font-family: sans;
}
#discussion-column ul {
padding: 0;
list-style: none;
margin: 0;
}
#discussion-column .amdt-line {
  cursor: pointer;
  padding: 4px;
  border: 1px solid transparent;
}
#discussion-column .amdt-line.current {
  border: 1px solid white;
  box-sizing: border-box;
}
#discussion-column .amdt-line:hover {
  background: #4e4e4e;
}
#discussion-column .discussion-identique {
  border-left: 5px solid #4cff334a;
  padding: 0 10px;
}
#discussion-column .discussion-commune {
  border-left: 5px solid #b633ff4a;
  padding: 0 10px;
}
#title select {
    background: white;
    max-width: 50%;
    font-weight: bold;
}
#title button {
  background: white;
  margin: 0 10px;
}
#title a {
  background: white;
  padding: 5px;
  margin: 0 10px;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  font-size: 13px;
}
.title-left {
  float: left;
  height: 100%;
  display: flex;
  margin-left: 20px;
}
.title-left > span {
  margin: auto;
}
.title-middle {
  margin: auto;
}
.title-right {
  float: right;
  display: flex;
  justify-content: space-between;
}
.title-right {
  margin-top: auto;
  margin-bottom: auto;
}
.amendement {
  margin: 20px;
  background: white;
  padding: 20px;
  width: 80%;
  min-width: 600px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.amendement .dispositif div {
  padding: 0 !important;
}
#left-column button {
  color: black;
  background: white;
  margin: 10px;
  padding: 5px;
}
#discussion-column select {
  color: black;
  background: white;
  margin: 10px;
  padding: 0 5px;
  max-width: 80%;
}
.amendement .lien-pdf {
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.amendement .lien-pdf a {
  color: black;
}
.amendement .en-discussion {
  border: 1px solid black;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.amendement .sort {
  border: 1px solid black;
  padding: 10px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.amendement .header * {
  margin: 0;
}




/* diff */

.diff {
 border:0;
 border-spacing:4px;
 margin:0;
 width:100%;
 table-layout:fixed
}
.diff td {
 padding:0.33em 0.5em
}
.diff td.diff-marker {
 padding:0.25em;
 text-align:right;
 font-weight:bold;
 font-size:1.25em;
 line-height:1.2
}
.diff td div {
 word-wrap:break-word
}
.diff col.diff-marker {
 width:2%
}
.diff .diff-content {
 width:48%
}
.diff-title {
 vertical-align:top
}
.diff-notice,
.diff-multi,
.diff-otitle,
.diff-ntitle {
 text-align:center
}
.diff-lineno {
 font-weight:bold
}
.mw-diff-inline-added ins,
.mw-diff-inline-changed ins,
.mw-diff-inline-deleted ins,
.mw-diff-inline-added del,
.mw-diff-inline-changed del,
.mw-diff-inline-deleted del {
 display:inline-block;
 text-decoration:none
}
.mw-diff-inline-added ins,
.mw-diff-inline-changed ins {
 background:#a3d3ff
}
.mw-diff-inline-deleted del,
.mw-diff-inline-changed del {
 background:#ffe49c
}
.diff-addedline,
.diff-deletedline,
.diff-context {
 font-size:13px;
 line-height:1.6;
 vertical-align:top;
 white-space:pre-wrap;
 border-style:solid;
 border-width:1px 1px 1px 4px;
 border-radius:0.33em
}
.diff-editfont-monospace .diff-addedline,
.diff-editfont-monospace .diff-deletedline,
.diff-editfont-monospace .diff-context {
 font-family:monospace,monospace
}
.diff-editfont-sans-serif .diff-addedline,
.diff-editfont-sans-serif .diff-deletedline,
.diff-editfont-sans-serif .diff-context {
 font-family:sans-serif
}
.diff-editfont-serif .diff-addedline,
.diff-editfont-serif .diff-deletedline,
.diff-editfont-serif .diff-context {
 font-family:serif
}
.diff-context {
 background:#f8f9fa;
 border-color:#eaecf0;
 color:#202122
}
.diff-addedline {
 border-color:#a3d3ff
}
.diff-deletedline {
 border-color:#ffe49c
}
.diffchange {
 font-weight:bold;
 text-decoration:none
}
.diff-addedline .diffchange,
.diff-deletedline .diffchange {
 border-radius:0.33em;
 padding:0.25em 0
}
.diff-addedline .diffchange {
 background:#d8ecff
}
.diff-deletedline .diffchange {
 background:#feeec8
}
.diff-currentversion-title,
.diff {
 direction:ltr;
 unicode-bidi:embed
}
.diff-contentalign-right td {
 direction:rtl;
 unicode-bidi:embed
}
.diff-contentalign-left td {
 direction:ltr;
 unicode-bidi:embed
}
.diff-multi,
.diff-otitle,
.diff-ntitle,
.diff-lineno {
 direction:ltr !important;
 unicode-bidi:embed
}
.mw-diff-slot-header {
 text-align:center
}
.mw-diff-movedpara-left,
.mw-diff-movedpara-right,
.mw-diff-movedpara-left:visited,
.mw-diff-movedpara-right:visited,
.mw-diff-movedpara-left:active,
.mw-diff-movedpara-right:active {
 display:block;
 color:transparent
}
.mw-diff-movedpara-left:hover,
.mw-diff-movedpara-right:hover {
 text-decoration:none;
 color:transparent
}
.mw-diff-movedpara-left:after,
.mw-diff-movedpara-right:after {
 display:block;
 color:#202122;
 margin-top:-1.25em
}
.mw-diff-movedpara-left:after,
.rtl .mw-diff-movedpara-right:after {
 content:'↪'
}
.mw-diff-movedpara-right:after,
.rtl .mw-diff-movedpara-left:after {
 content:'↩'
}

/* end diff */

.neon #left-column {
  background: black;
}

.neon .amendement {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  background: black;
  color: white;
  border-radius: 30px;
}

.neon .lien-pdf a {
  color: white;
}

.neon #discussion-column {
  background: black
}

.neon .title-left {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px white, 0 0 35px white;
  font-size: 20px;
  color: white;
}

.neon #title {
  background: linear-gradient(#e66465, #9198e5);
}

.neon button, .neon a {
  align-self: center;
  padding: 3px;
  border-radius: 1.09375em;
  cursor: pointer;
}
.neon button, .neon a {
  box-shadow: inset 0 0 0 1px #eedc00, inset 0 1px 2px rgba(255, 255, 255, 0.5), inset 0 -1px 2px rgba(0, 0, 0, 0.5);
}