#app, #root, html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
  font-family: times;
  width: 100%;
}
#title {
  height: 30px;
  text-align: right;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  background: black;
  color: white;
  font-family: sans;
}
#left-column {
  float: left;
  width: 50%;
  background: #404040;
  height: calc(100% - 30px);
  overflow: auto;
}
#left-column.full {
  width: 80%;
}
#text-column {
  float: left;
  width: 30%;
  height: calc(100% - 30px);
  overflow: auto;
}
#discussion-column {
  float: left;
  width: 20%;
  background: #404040;
  height: calc(100% - 30px);
  overflow: auto;
  color: white;
  font-family: sans;
}
#discussion-column ul {
padding: 0;
list-style: none;
margin: 0;
}
#discussion-column li {
  background: #5e5e5e;
  padding: 4px;
}
#discussion-column li li {
  cursor: pointer;
}
#discussion-column li li:hover {
  background: #4e4e4e;
}
#title select {
    background: white;
    max-width: 400px;
    font-weight: bold;
}
.amendement {
  margin: 20px;
  background: white;
  padding: 20px;
  width: 80%;
  margin-left:auto;
  margin-right:auto;
}
.amendement .dispositif div {
  padding: 0 !important;
}
#left-column button {
  color: black;
  background: white;
  margin: 10px;
  padding: 5px;
}